<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FoodShop1.0</display-name>
  <welcome-file-list>
    <welcome-file>trang-chu</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DangKySevlet</display-name>
    <servlet-name>DangKySevlet</servlet-name>
    <servlet-class>com.group3.Servlet.DangKySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKySevlet</servlet-name>
    <url-pattern>/dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>com.group3.Servlet.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangServlet</display-name>
    <servlet-name>GioHangServlet</servlet-name>
    <servlet-class>com.group3.Servlet.GioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangServlet</servlet-name>
    <url-pattern>/gio-hang</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>KiemTraDangNhapFilter</display-name>
    <filter-name>KiemTraDangNhapFilter</filter-name>
    <filter-class>com.group3.filter.KiemTraDangNhapFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KiemTraDangNhapFilter</filter-name>
    <url-pattern>/thanh-toan</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>KiemTraDangNhapFilter</filter-name>
    <url-pattern>/ca-nhan/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ThemVaoGioHangServlet</display-name>
    <servlet-name>ThemVaoGioHangServlet</servlet-name>
    <servlet-class>com.group3.Servlet.ThemVaoGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemVaoGioHangServlet</servlet-name>
    <url-pattern>/them-vao-gio-hang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanServlet</display-name>
    <servlet-name>ThanhToanServlet</servlet-name>
    <servlet-class>com.group3.Servlet.ThanhToanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanServlet</servlet-name>
    <url-pattern>/thanh-toan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaNhanServlet</display-name>
    <servlet-name>CaNhanServlet</servlet-name>
    <servlet-class>com.group3.Servlet.CaNhanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaNhanServlet</servlet-name>
    <url-pattern>/ca-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonHangServlet</display-name>
    <servlet-name>DonHangServlet</servlet-name>
    <servlet-class>com.group3.Servlet.DonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonHangServlet</servlet-name>
    <url-pattern>/ca-nhan/don-hang/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SanPhamRestService</display-name>
    <servlet-name>SanPhamRestService</servlet-name>
    <servlet-class>com.group3.Services.RestService.SanPhamRestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanPhamRestService</servlet-name>
    <url-pattern>/api/san-pham/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>KiemTraURLFilter</display-name>
    <filter-name>KiemTraURLFilter</filter-name>
    <filter-class>com.group3.filter.KiemTraURLFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KiemTraURLFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungRestService</display-name>
    <servlet-name>NguoiDungRestService</servlet-name>
    <servlet-class>com.group3.Services.RestService.NguoiDungRestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungRestService</servlet-name>
    <url-pattern>/api/nguoi-dung/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonHangRestServlet</display-name>
    <servlet-name>DonHangRestServlet</servlet-name>
    <servlet-class>com.group3.Services.RestService.DonHangRestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonHangRestServlet</servlet-name>
    <url-pattern>/api/don-hang/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheLoaiRestServlet</display-name>
    <servlet-name>TheLoaiRestServlet</servlet-name>
    <servlet-class>com.group3.Services.RestService.TheLoaiRestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheLoaiRestServlet</servlet-name>
    <url-pattern>/api/the-loai/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeChungToiServlet</display-name>
    <servlet-name>VeChungToiServlet</servlet-name>
    <servlet-class>com.group3.Servlet.VeChungToiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeChungToiServlet</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLSanPham</display-name>
    <servlet-name>QLSanPham</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.QLSanPham</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLSanPham</servlet-name>
    <url-pattern>/admin/qlsanpham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaSanPham</display-name>
    <servlet-name>XoaSanPham</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.XoaSanPham</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaSanPham</servlet-name>
    <url-pattern>/admin/xoasanpham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemSanPham</display-name>
    <servlet-name>ThemSanPham</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.ThemSanPham</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemSanPham</servlet-name>
    <url-pattern>/admin/themsanpham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatSanPham</display-name>
    <servlet-name>CapNhatSanPham</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.CapNhatSanPham</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatSanPham</servlet-name>
    <url-pattern>/admin/capnhatsanpham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLNguoiDung</display-name>
    <servlet-name>QLNguoiDung</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.QLNguoiDung</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLNguoiDung</servlet-name>
    <url-pattern>/admin/qlnguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaNguoiDung</display-name>
    <servlet-name>XoaNguoiDung</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.XoaNguoiDung</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaNguoiDung</servlet-name>
    <url-pattern>/admin/xoanguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatNguoiDung</display-name>
    <servlet-name>CapNhatNguoiDung</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.CapNhatNguoiDung</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatNguoiDung</servlet-name>
    <url-pattern>/admin/capnhatnguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLDonHang</display-name>
    <servlet-name>QLDonHang</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.QLDonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLDonHang</servlet-name>
    <url-pattern>/admin/qldonhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLDonHangChiTiet</display-name>
    <servlet-name>QLDonHangChiTiet</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.QLDonHangChiTiet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLDonHangChiTiet</servlet-name>
    <url-pattern>/admin/qldonhangchitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLTheLoai</display-name>
    <servlet-name>QLTheLoai</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.QLTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLTheLoai</servlet-name>
    <url-pattern>/admin/qltheloai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemTheLoai</display-name>
    <servlet-name>ThemTheLoai</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.ThemTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemTheLoai</servlet-name>
    <url-pattern>/admin/themtheloai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaTheLoai</display-name>
    <servlet-name>XoaTheLoai</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.XoaTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaTheLoai</servlet-name>
    <url-pattern>/admin/xoatheloai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaDonHang</display-name>
    <servlet-name>XoaDonHang</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.XoaDonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaDonHang</servlet-name>
    <url-pattern>/admin/xoadonhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatDonHang</display-name>
    <servlet-name>CapNhatDonHang</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.CapNhatDonHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatDonHang</servlet-name>
    <url-pattern>/admin/capnhatdonhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatTheLoai</display-name>
    <servlet-name>CapNhatTheLoai</servlet-name>
    <servlet-class>com.group3.Servlet.Quanly.CapNhatTheLoai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatTheLoai</servlet-name>
    <url-pattern>/admin/capnhattheloai</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>KiemTraAdminFilter</display-name>
    <filter-name>KiemTraAdminFilter</filter-name>
    <filter-class>com.group3.filter.KiemTraAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KiemTraAdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapRestServlet</display-name>
    <servlet-name>DangNhapRestServlet</servlet-name>
    <servlet-class>com.group3.Services.RestService.DangNhapRestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapRestServlet</servlet-name>
    <url-pattern>/api/dang-nhap</url-pattern>
  </servlet-mapping>
</web-app>